body {
  margin: 0;
  background-color: #f5f6fa;
  width: 1600px;
  height: 1434px;
  border: 2px solid green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bgd {
  background-color: white;
  width: 1400px;
  border: 2px solid red;
  margin: 149px 100px 188px 100px;
}

.header-all {
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 592px;
  padding-left: 5px;
}

.color-blue {
  color: blue;
}

.text-size {
  font-size: 12px;
}
