body {
  margin: 0;
  background-color: #f5f6fa;
  width: 1600px;
  height: 1434px;
  border: 2px solid green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  background-color: white;
}

.bgd {
  background-color: white;
  width: 1400px;
  border: 2px solid red;
  margin: 149px 100px 188px 100px;
}

.header-all {
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 592px;
  padding-left: 5px;
}

.color-blue {
  color: blue;
}

.text-size {
  font-size: 12px;
}

.book-margin {
  margin: 38px 100px 15px 100px;
  background-color: white;
  padding: 10px 20px;
}

.bnh {
  background-color: #fafafa;
}

.f-14 {
  font-size: 14px;
}

.f-22 {
  font-size: 22px;
}

.f-13 {
  font-size: 13px;
}

.f-16 {
  font-size: 16px;
}

.pb-21 {
  padding-bottom: 19px;
}

.blue-btn {
  background-color: blue;
  color: white;
  width: 184px;
  height: 33px;
  padding: 7.5px 0;
  border-radius: 5px;
  margin-top: 23px;
}
